/* This is the container of the project */
		#container {
			background: linear-gradient(blue, orange, green);
			display: flex;
			flex-direction: row;
			width: 200px;
			height: 50px;
			padding:auto;
  		padding-left: 15px; 
       margin: 50px auto;
			justify-content: space-around;
      align-items: center;
		}
		
/* This is an additional CSS for hours part */
#hours{
  width: 55px;
}
/*  This is the innerText */
		p {
			width: 50px;
			padding-top: 10px;
			font-size: 18px;
			height: 40px;
			color: black;
		}

/* This is the colon separating Hours, Minutes and Seconds */
		span{
			font-size: 40px;
			color: white;
      margin-top: -12px;
		}
	